.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 22px 7%;
    background: rgba(247, 245, 242, 0.88);

    position: sticky;
    top: 0;
    z-index: 100;

    backdrop-filter: blur(14px);
    border-bottom: 1px solid rgba(28, 27, 31, 0.06);
}

.logo {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.logo span {
    color: var(--primary);
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 36px;
}

.nav-links a,
.login-link {
    position: relative;
    color: var(--text-secondary);
    font-size: 15px;
    font-weight: 500;

    transition: color 0.3s ease;
}

.nav-links a::after,
.login-link::after {
    content: "";
    position: absolute;

    left: 0;
    bottom: -6px;

    width: 0;
    height: 2px;

    background: var(--primary);
    transition: width 0.3s ease;
}

.nav-links a:hover,
.login-link:hover {
    color: var(--text-primary);
}

.nav-links a:hover::after,
.login-link:hover::after {
    width: 100%;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 24px;
}

.register-button {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    padding: 12px 18px;
    border-radius: 999px;

    background: var(--text-primary);
    color: white;

    font-size: 14px;
    font-weight: 600;

    transition:
        transform 0.3s ease,
        background 0.3s ease,
        box-shadow 0.3s ease;
}

.register-button:hover {
    background: var(--primary);
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(109, 74, 255, 0.25);
}

.register-button span {
    transition: transform 0.3s ease;
}

.register-button:hover span {
    transform: translate(3px, -3px);
}

@media (max-width: 768px) {
    .navbar {
        padding: 18px 5%;
    }

    .nav-links {
        display: none;
    }

    .login-link {
        display: none;
    }

    .register-button {
        padding: 10px 15px;
    }
}

.user-name {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-primary);
}

.logout-button {
    border: none;
    background: transparent;

    color: var(--text-secondary);

    font-size: 14px;
    cursor: pointer;

    transition: 0.2s ease;
}

.logout-button:hover {
    color: var(--primary);
}

.my-events-link {
    color: var(--text-secondary);
    font-size: 14px;
    font-weight: 500;

    transition: color 0.2s ease;
}

.my-events-link:hover {
    color: var(--primary);
}